$color-main: #502f1a;
$color-main-transparent: #502F1A07;
$color-grey: #888;
$color-grey-light: #aaa;
$color-grey-light15: #dedede;
$color-grey-light2: #ededed;
$color-pink: #ff33d4;
$color-red: #FF6F6F;

$font-optima: "unicode-optima", sans-serif;
$font-charpentier-maigre: "Charpentier-35-Maigre", sans-serif;
$font-charpentier-leger: "Charpentier-45-Leger", sans-serif;
$font-charpentier-normal: "Charpentier-55-Normal", sans-serif;
$font-proxima-nova-light: "ProximaNova-Light", sans-serif;
$font-proxima-nova-regular: "ProximaNova-Regular", sans-serif;
$font-proxima-nova-semibold: "ProximaNova-Semibold", sans-serif;
$font-proxima-nova-t-thin: "ProximaNova-T-Thin", sans-serif;


