<div class="sidebar" [ngClass]="{ 'sidebar--open': isSidebarOpen }">
	<div class="sidebar__background"></div>

	<div class="sidebar__container" [ngClass]="{ 'sidebar__container--wide': isSidebarWide }">
		<div class="sidebar__header">
			<div class="sidebar__title">{{ title }}</div>

			<div class="sidebar__close" (click)="closeSidebar()">
				<img src="assets/icons/close-icon.svg" alt="" class="sidebar__close-icon">
			</div>
		</div>

		<div class="sidebar__content">
			<ng-content></ng-content>
		</div>
	</div>
</div>
