.item-page {
	&__container {
		margin: 0 auto;
		padding: 10px 30px 0;
		max-width: 1440px;
		width: 100%;
	}

	&__breadcrumbs {
		margin-bottom: 30px;
	}
}

@media(max-width: 767px) {
	.item-page {
		&__container {
			padding: 10px 15px 0;
		}

		&__breadcrumbs {
			margin-bottom: 15px;
		}
	}
}
