@font-face {font-family: 'awesome'; src: url('../fonts/awesome-solid.ttf');}
@font-face {font-family: 'awesome-regular'; src: url('../fonts/awesome-regular.ttf');}
@font-face {font-family: 'awesome-brands'; src: url('../fonts/awesome-brands.ttf');}

@font-face {font-family: 'Charpentier-35-Maigre'; src: url('../fonts/CharpentierSansPro-Maigre.ttf');}
@font-face {font-family: 'Charpentier-45-Leger'; src: url('../fonts/CharpentierSansPro-Leger.ttf');}
@font-face {font-family: 'Charpentier-55-Normal'; src: url('../fonts/CharpentierSansPro-Normal.ttf');}

@font-face {font-family: 'ProximaNova-Light'; src: url('../fonts/ProximaNova-Light.ttf');}
@font-face {font-family: 'ProximaNova-T-Thin'; src: url('../fonts/ProximaNovaT-Thin.ttf');}
@font-face {font-family: 'ProximaNova-Regular'; src: url('../fonts/ProximaNova-Regular.ttf');}
@font-face {font-family: 'ProximaNova-Semibold'; src: url('../fonts/ProximaNova-Semibold.ttf');}


@font-face {font-family: 'unicode-optima'; src: url('../fonts/unicode.optima.ttf');}

