<footer class="footer">
	<div class="footer__container">
		<div class="footer__logo-container">
			<img class="footer__logo" src="assets/icons/logo-short.svg" alt="Logo">
		</div>

		<div class="footer__main">
			<div class="footer__content">
				<div class="footer__lists">
					<ng-container *ngFor="let itemsList of itemsLists">
						<div class="footer__accordion accordion">
							<div class="accordion__header" (click)="openCloseList(itemsList)">
								{{ itemsList.title }}
								<img src="assets/icons/arrow.svg" alt="Arrow" class="accordion__arrow" [ngClass]="{ 'accordion__arrow--open': itemsList.isOpen }">
							</div>

							<div class="accordion__content" [ngClass]="{ 'accordion__content--open': itemsList.isOpen }">
								<ul class="accordion__list">
									<ng-container *ngFor="let item of itemsList.items">
										<li class="accordion__list-item">
											<a [routerLink]="item.url" class="accordion__list-link">{{ item.title }}</a>
										</li>
									</ng-container>
								</ul>
							</div>
						</div>
					</ng-container>

					<div class="footer__accordion accordion accordion--show-mobile">
						<div class="accordion__header" (click)="openCloseList(helpLinks)">
							{{ helpLinks.title }}
							<img src="assets/icons/arrow.svg" alt="Arrow" class="accordion__arrow" [ngClass]="{ 'accordion__arrow--open': helpLinks.isOpen }">
						</div>

						<div class="accordion__content" [ngClass]="{ 'accordion__content--open': helpLinks.isOpen }">
							<ul class="accordion__list">
								<ng-container *ngFor="let item of helpLinks.items">
									<li class="accordion__list-item">
										<a [routerLink]="item.url" class="accordion__list-link">{{ item.title }}</a>
									</li>
								</ng-container>
							</ul>
						</div>
					</div>
				</div>

				<div class="footer__subscribe subscribe">
					<div class="subscribe__title">sign up for our newsletter</div>

					<p class="subscribe__description">Щоб отримувати цікаві fashion-підбірки та завчасно дізнаватися про унікальні пропозиції</p>

					<input type="email" class="subscribe__input" placeholder="ваш email">
				</div>
			</div>

			<div class="footer__footer">
				<ul class="footer__horizontal-list">
					<ng-container *ngFor="let link of helpLinks.items">
						<li class="footer__horizontal-list-item">
							<a routerLink="/" class="footer__horizontal-list-link">{{ link.title }}</a>
						</li>
					</ng-container>
				</ul>
			</div>
		</div>
	</div>
</footer>
